:root {
    --light_gray_bg: rgb(218, 218, 218);
    --middle_gray_bg: #a1a1a1;
    --dark_gray_bg: rgb(134, 134, 134);
  }

header{
    display: flex;
    background-color: var(--middle_gray_bg);
    justify-content: center;
    ul{
        display: flex;
        list-style: none;
        background-color: var(--dark_gray_bg);
        justify-content: center;
        align-items: center;
        padding-left: 0px;

        li{
            margin-right: 1rem;
            margin-left: 1rem;
            
            a{
                color: black;
                padding: 1rem;
                background-color: var(--light_gray_bg);
            }

            h1{
                color: black;
                padding: 1rem;
                background-color: var(--light_gray_bg);
            }
        }
    }    
}

main{
    display: flex;
    justify-content: center;
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMXprcjVhYWt1dG4ydzd0dGQzdzZuazQ0MHlubjUwNG96dXRweWpieSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/RkhMKpIYLT9sukfuXg/giphy.webp");
    background-size: contain;
}


body{
    #projectsFormDiv{
        display: flex;
        justify-content: center;
        form {
            display: flex;
            flex-direction: column;
            width: 50rem;
            margin: 3rem;
            padding: 1rem;
            background-color: var(--light_gray_bg);

            #projectTitle{
                max-width: 49rem;
                min-width: 49rem;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }
            #projectDescription{
                min-height: 5rem;
                max-width: 49rem;
                min-width: 49rem;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }


            div{
                display: flex;
                #projectsFormLeftSide{
                    display: flex;
                    flex-direction: column;
                    #projectRepoLink{
                        width: 35rem;
                        margin-bottom: 0.5rem;
                    }
                    #projectImageLink{
                        width: 35rem;
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }
    #projectsFormSubmitBtn{
        width: 13rem;
        height: 4.5rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    article{
        display: flex;
        justify-content: center;
        padding: 2rem;

        .articleDiv{
            display: flex;
            background-color: var(--light_gray_bg);
            width: 30rem;
        }

        .articleImageDiv{
            display:flex;
            height: 10rem;
            width: 10rem;
            padding: 1rem;
        }
        .articleDataDiv{
            display:flex;
            flex-direction: column;
            a{
                align-self: flex-end;
                margin: 1rem;
            }
        }
    }

}

footer{
    display: flex;
    background-color: var(--middle_gray_bg);
    justify-content: center;
    ul{
        list-style: none;
        padding-left: 0px;
    }
}

aside{
    display: flex;
    flex-direction: column;
    background-color: var(--middle_gray_bg);
    margin: 5rem;
    border-radius: 1rem;

    h2{
        align-self: center;
    }

    #aboutProfilePicture{
        max-width: 19rem;
        height: auto;
        margin: 0.5rem;
        border-radius: 10rem;
    }

    .singleExperience{
        margin-left: 3rem;
        margin-right: 3rem;
    }

    ul{
        background-color: var(--light_gray_bg);
        list-style: none;
        li {
            margin: 0.2rem;
        }
    }

}